<?xml version="1.0" encoding="UTF-8"?>
<!--
       Copyright 2010-2013 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.


CREATE TABLE `bt_goods` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` TEXT DEFAULT NULL,
  `user_id` BIGINT(20) NOT NULL,
  `group_id` BIGINT(20) NOT NULL COMMENT '考虑到更换公司的信息',
  `status` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1：未发布（新建）2：发布 3：取消 4：完成 5：结束',
  `previous_status` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1：未发布（新建）2：发布 3：取消 4：完成 5：结束',
  `is_lock` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1: 未锁定  2：锁定',
  `total` int(11) NOT NULL DEFAULT '0',
  `sell_count` int(11) NOT NULL DEFAULT '0',
  `expire_time` timestamp NULL DEFAULT NULL,
  `create_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'CURRENT_TIMESTAMP',
  `update_time` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `publish_time` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.baitaner.common.mapper.IGoodsMapper">
  	<cache />
	<resultMap id="goodsResultMapper" type="Goods">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="description" column="description" />
		<result property="userId" column="user_id" />
		<result property="groupId" column="group_id" />
		<result property="status" column="status" />
		<result property="previousStatus" column="previous_status" />
		<result property="isLock" column="is_lock" />
		<result property="total" column="total" />
		<result property="sellCount" column="sell_count" />
		<result property="expireTime" column="expire_time" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="publishTime" column="publish_time" />
	</resultMap>
	
  	<insert id="insert" parameterType="Goods" useGeneratedKeys="true" keyProperty="id">
  		INSERT INTO bt_goods(
  			title
  			,description
  			,user_id
  			,group_id
  			,status
  			,previous_status
  			,is_lock
  			,total
  			,sell_count
  			,expire_time
  			,create_time
  			,update_time
  			,publish_time
  		) values (
  			#{title}
  			,#{description}
  			,#{userId}
  			,#{groupId}
  			,#{status}
  			,#{previousStatus}
  			,#{isLock}
  			,#{total}
  			,#{sellCount}
  			,#{expireTime}
  			,#{createTime}
  			,#{updateTime}
  			,#{publishTime}
  		)
  	</insert>
  	
  	<select id="findById" parameterType="long" resultMap="goodsResultMapper" useCache="false">
		select
		*
		from
		bt_goods where id = #{id}
	</select>

	<select id="findByUserIdAndStatusAndLock" resultMap="goodsResultMapper" useCache="false">
		select
        *
		from
		bt_goods where user_id = #{userId} and status=#{status} and is_lock=${isLock} order by id desc limit #{index},#{limit}
	</select>
	<select id="findByUserIdAndStatusAndLockSize" resultType="long" useCache="false">
		select
		count(id)
		from
		bt_goods where user_id = #{userId} and status=#{status} and is_lock=${isLock}
	</select>
	<select id="findByGroupIdAndStatusAndLock" resultMap="goodsResultMapper" useCache="false">
		select
		*
		from
		bt_goods where group_id = #{groupId} and status=#{status} and is_lock=${isLock} order by id desc limit #{index},#{limit}
	</select>
	<select id="findByGroupIdAndStatusAndLockSize" resultType="long" useCache="false">
		select
		count(id)
		from
		bt_goods where group_id = #{groupId} and status=#{status} and is_lock=${isLock}
	</select>
	<update id="update" parameterType="Goods">
		UPDATE bt_goods
		SET
		title=#{title}
		,description=#{description}
		,user_id=#{userId}
		,group_id=#{groupId}
		,status=#{status}
		,previous_status=#{previousStatus}
		,is_lock=#{isLock}
		,total=#{total}
		,sell_count=#{sellCount}
		,expire_time=#{expireTime}
		,create_time=#{createTime}
		,update_time=#{updateTime}
		,publish_time=#{publicTime}
		where id = #{id};
	</update>
	<delete id="delete" parameterType="long">
		DELETE bt_goods
		where id = #{id};
	</delete>
</mapper>