<?xml version="1.0" encoding="UTF-8"?>
<!--
       Copyright 2010-2013 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.


CREATE TABLE `bt_group` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `city` varchar(255) NOT NULL,
  `email_postfix` varchar(100) NOT NULL,
  `create_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'CURRENT_TIMESTAMP',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.baitaner.common.mapper.IGroupMapper">
  	<cache />
	<resultMap id="groupResultMapper" type="Group">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="city" column="city" />
		<result property="emailPostfix" column="email_postfix" />
		<result property="createTime" column="create_time" />
	</resultMap>
	
  	<insert id="insert" parameterType="Group" useGeneratedKeys="true" keyProperty="id">
  		INSERT INTO bt_group(
  			name
  			,city
  			,email_postfix
  			,create_time
  		) values (
  			#{name}
  			,#{city}
  			,#{emailPostfix}
  			,#{createTime}
  		)
  	</insert>
  	
  	<select id="findById" parameterType="long" resultMap="groupResultMapper" useCache="false">
		select
		*
		from
		bt_group where id = #{id};
	</select>
	<select id="findByName" parameterType="string" resultMap="groupResultMapper" useCache="false">
		select
		*
		from
		bt_group where name = #{name}
	</select>
	<select id="findByEmail" parameterType="string" resultMap="groupResultMapper" useCache="false">
		select
		*
		from
		bt_group where email_postfix = #{email} limit 1;
	</select>
	<select id="find" resultMap="groupResultMapper" useCache="false">
		select
		*
		from
		bt_group order by id desc limit #{index},#{limit};
	</select>
	<select id="findSize" resultType="long" useCache="false">
		select
		 count(id)
		from
		bt_group
	</select>
    <update id="update" parameterType="Group">
		UPDATE bt_group
		SET
  		  name=#{name},
  		  city=#{city},
  		  email_postfix=#{emailPostfix},
  		  create_time=#{createTime}
		where id = #{id};
	</update>

</mapper>