<?xml version="1.0" encoding="UTF-8"?>
<!--
       Copyright 2010-2013 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

CREATE TABLE `bt_indent_goods` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `indent_id` bigint(20) NOT NULL,
  `goods_id` bigint(20) NOT NULL,
  `buy_count` int(11) NOT NULL DEFAULT '0',
  `buy_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'CURRENT_TIMESTAMP',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.baitaner.common.mapper.IIndentGoodsMapper">
  	<cache />
	<resultMap id="indentGoodsResultMapper" type="Indent">
		<id property="id" column="id" />
		<result property="indentId" column="indent_id" />
		<result property="goodsId" column="goods_id" />
		<result property="buyCount" column="buy_count" />
		<result property="buyTime" column="buy_time" />
	</resultMap>
	
  	<insert id="insert" parameterType="IndentGoods" useGeneratedKeys="true" keyProperty="id">
  		INSERT INTO bt_indent_goods(
  			indent_id
  			,goods_id
  			,buy_count
  			,buy_time
  		) values (
  			#{indentId}
  			#{goodsId}
  			,#{buyCount}
  			,#{buyTime}
  		)
  	</insert>
  	
  	<select id="findById" parameterType="long" resultMap="indentGoodsResultMapper" useCache="false">
		select
		*
		from
		bt_indent_goods where id = #{id}
	</select>

	<select id="findByIndentId" resultMap="indentGoodsResultMapper" useCache="false">
		select
		*
		from
		bt_indent_goods where indent_id = ${indentId} limit ${limit}
	</select>

	<update id="update" parameterType="IndentGoods">
		UPDATE bt_indent
		SET
		,buy_count=#{buyCount}
		,buy_time=#{buyTime}
		where id = #{id};
	</update>
	<delete id="delete" parameterType="long">
		DELETE bt_indent_goods
		where id = #{id};
	</delete>
</mapper>